<!DOCTYPE html>
<html lang="en">
<script src="angular.min.js"></script>
<body>
<h1> REGISTRATION FORM</h1>

	<div ng-app="myApp" ng-controller="formCtrl">
 <form name="myform" action="webpage.html" method="get">
    First Name : <input type="text" ng-model="user.firstname" required>
<br>
	Last  Name : <input type="text" ng-model="user.lastname" required>
<br>
	DOB           : <input type="datetime-local" ng-model="bdaytime">
<br>
    E-mail        : <input type="email"  name="input" ng-model="text" required>
<br>
	address      :<textarea ng-model="message" rows="5" cols="15"></textarea>
 <br>
	<input type="radio" ng-model="gender" value="male">male
<br>
	<input type="radio" ng-model="gender" value="female">female
<br>
	Select a department:
  <select ng-model="dept">
    <option value="CSE">CSE
    <option value="IT">IT
    <option value="MECH">MECH
    <option value="CIVIL">CIVIL
  </select>
<br>
  <button ng-click=reset()>RESET</button>
  <button ng-click="submit">SUBMIT</button>
  </form>
  <p>NAME= {{user}}</p>
  <p>ADDRESS= {{message}}</p>
<tt>MAIL= {{text}}</tt><br>
<div ng-switch="gender">
<div ng-switch-when="male">
<p>u choose male</p>
</div>
<div ng-switch="gender">
<div ng-switch-when="female">
<p>u choose female</p>
</div>
</div>
<div ng-switch="dept">
<div ng-switch-when="CSE">
<p>CSE dept</p>
</div>
<div ng-switch="dept">
<div ng-switch-when="MECH">
<p>MECH dept</p>
</div>
</div>
</div>
<script>
var app = angular.module('myApp', []);
app.controller('formCtrl', function($scope) {
    $scope.firstname ;
	$scope.lastname;
	$scope.bdaytime;
	 $scope.word;
	$scope.address;
	$scope.gender;
	$scope.dept;
	$scope.submit;
	$scope.reset=function(){
	$scope.user = angular.copy($scope.master);
};
     $scope.reset();
});
</script>

</body>
</html>
