<!DOCTYPE html>
<html lang="en-US">
<script src="angular.min.js"></script>
<body>

<p id="demo"></p>

<div ng-app="myapp" ng-controller="myctrl">
firstName:<input type="text" ng-model="firstName"><br>
lastName:<input type="text" ng-model="lastName"><br>

<br>
fullName:{{ firstName + " " +lastName }}

 </div>
 <script>
var app=angular.module("myapp",[]);
app.controller("myctrl",function($scope){
$scope.firstName;//{{firstName}};
$scope.lastName;//{{lastName}};
$scope.fullName;
});
</script>

</body>
</html>