<!doctype html>
<html >
<body ng-app="myapp">
<script src="angular.min.js"></script>
<div ng-controller="myctrl" ng-show="log">
LOGIN:<input type="text" ng-model="login" required>
<br>
PASSWORD:<input type="password" ng-model="pswrd" required>
<br>
  {{message1}}
<br>
<button ng-click="submit()">SUBMIT</button>
</div>
<div ng-controller="ctrl" ng-show="home">
WELCOME TO HOME PAGE
</div>
<script>
var app=angular.module("myapp",[]);
app.controller("myctrl",function($scope,$rootScope){
$scope.log=true;
$rootScope.home=false;
$scope.submit=function(){
if($scope.login=="vino"&&$scope.pswrd=="1234"){
$scope.log=false;
$rootScope.home=true;
}else{
$scope.log=true;
$rootScope.home=false;
$scope.message1="invalid user"
}
}
});
app.controller("ctrl",function($scope){
});
</script>
</body>
</html>

